## Semana 01: Preliminares
### Ejemplo de Correlación en python

#### En este apartado mostraremos un ejemplo de como realizar una matriz de correlación con python.
##### Utilizaremos una base de datos que contiene el indice de rendimiento de los estudiantes, acompañado de otras 5 caracteristicas de cada estudiante. La base se obtuvo de Kaggle [Student Performance - Multiple Linear Regression](https://www.kaggle.com/datasets/nikhil7280/student-performance-multiple-linear-regression)

In [1]:
# Importamos las paqueterias a utilizar
import pandas as pd

In [2]:
#Lectura de datos
student_performance = pd.read_csv('Datasets/Student_Performance.csv')

In [3]:
# Imprimimos los primeros 10 registros
student_performance.head(10)

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0
5,3,78,No,9,6,61.0
6,7,73,Yes,5,6,63.0
7,8,45,Yes,4,6,42.0
8,5,77,No,8,2,61.0
9,4,89,No,4,0,69.0

In [4]:
# Tipos de datos de la base
student_performance.dtypes

Hours Studied                         int64
Previous Scores                       int64
Extracurricular Activities           object
Sleep Hours                           int64
Sample Question Papers Practiced      int64
Performance Index                   float64
dtype: object

In [5]:
#Hacemos una seleccion de columnas para probar la correlacion 
student_performance_rs = student_performance.loc[:, ['Hours Studied','Previous Scores','Sleep Hours','Sample Question Papers Practiced','Performance Index']]

In [6]:
# Matriz de correlación
student_performance_cor = student_performance_rs.corr()
student_performance_cor

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
Hours Studied,1.000000,-0.012390,0.001245,0.017463,0.373730
Previous Scores,-0.012390,1.000000,0.005944,0.007888,0.915189
Sleep Hours,0.001245,0.005944,1.000000,0.003990,0.048106
Sample Question Papers Practiced,0.017463,0.007888,0.003990,1.000000,0.043268
Performance Index,0.373730,0.915189,0.048106,0.043268,1.000000

##### Podemos observar el como la mas alta correlacion se la lleva la variable del indice de rendimiento con las notas anteriores con un 91.51%